<?xml version="1.0" encoding="utf-8"?>
<Activator xmlns="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://schemas.microsoft.com/sqlserver/2008/10/servicebroker/externalactivator EAServiceConfig.xsd"
           >
    <NotificationServiceList>
        <NotificationService name="TrackingExternalActivatorService" id="100" enabled="true">
            <Description>Change Tracking External Activator Service</Description>
            <ConnectionString>
                <!-- All connection string parameters except User Id and Password should be specificed here -->
                <Unencrypted>server=devkimchi;database=SourceDB;Application Name=SBEASampleApp;Integrated Security=true;</Unencrypted>
            </ConnectionString>
        </NotificationService>
    </NotificationServiceList>
    <ApplicationServiceList>
        <ApplicationService name="SBEASampleApp" enabled="true">
            <OnNotification>
                <ServerName>devkimchi</ServerName>
                <DatabaseName>SourceDB</DatabaseName>
                <SchemaName>dbo</SchemaName>
                <QueueName>TrackingRequestQueue</QueueName>
            </OnNotification>
            <LaunchInfo>
                <ImagePath>C:\Temp\SBEASampleApp\SBEASampleApp.exe</ImagePath>
                <CmdLineArgs></CmdLineArgs>
                <WorkDir>C:\Temp\SBEASampleApp</WorkDir>
            </LaunchInfo>
            <Concurrency min="1" max="4" />
        </ApplicationService>
    </ApplicationServiceList>
    <LogSettings>
        <LogFilter>
            <TraceFlag>All Levels</TraceFlag>
            <TraceFlag>All Modules</TraceFlag>
            <TraceFlag>All Entities</TraceFlag>
            <TraceFlag>Verbose</TraceFlag>
        </LogFilter>
    </LogSettings>
</Activator>