<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <clear />
        <add key="SourceServer" value="devkimchi" />
        <add key="SourceDb" value="SourceDB" />
        <add key="TrackingServer" value="devkimchi" />
        <add key="TrackingDb" value="TrackingDB" />

        <add key="MessageQueueSchema" value="dbo" />
        <add key="MessageQueueName" value="TrackingRequestQueue" />

        <add key="ApplicationName" value="SBEASampleApp" />
        <add key="WaitForTimeout" value="5000" />
        <add key="EndDialogMessageType" value="http://schemas.microsoft.com/SQL/ServiceBroker/EndDialog" />
        <add key="ErrorMessageType" value="http://schemas.microsoft.com/SQL/ServiceBroker/Error" />
        <add key="ErrorLogPath" value="logs/error-{:yyyymmdd}.log" />
    </appSettings>
</configuration>